{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
},
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": ["react"],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12
    },
    "rules": {
        "no-unused-vars": "warn",
        "linebreak-style": "warn"
      }
  }