.header {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.header-authorization {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.to-main-button {
background-color: inherit;
border: none;
display: flex;
align-items: center;
outline: none;
}

.cart-button {
background-color: inherit;
border: none;
display: flex;
align-items: center;
outline: none;
}

.shopping-cart {

width: 30px;
margin: 10px;
}